fastapi==0.115.9
uvicorn[standard]==0.34.0
pydantic==2.11.5
python-jose[cryptography]==3.5.0
python-dotenv==1.1.0
cryptography==45.0.3
redis==6.2.0
psycopg2-binary
pandas
openpyxl

transformers>=5.2.0
opencc
pypinyin
torch>=2.6.0

chromadb==1.0.12
langchain-core==0.3.86
langchain-ollama==0.3.10
langchain-chroma==0.2.4
langchain-google-genai==2.1.5
