cryptography==45.0.3
deepgram_sdk==4.1.0
fastapi[standard]==0.115.9
langchain_chroma==0.2.4
langchain_community==0.3.24
langchain_core==0.3.63
langchain_google_genai==2.1.5
langchain_ollama==0.3.3
pydantic==2.11.5
python-dotenv==1.1.0
python_jose==3.5.0
redis==6.2.0
uvicorn==0.34.3
gunicorn==23.0.0
typing-extensions==4.13.2
python-dotenv==1.1.0
pydantic==2.11.5