fastapi==0.115.9
uvicorn[standard]==0.34.0
gunicorn==23.0.0
pydantic==2.11.5
pydantic-settings==2.9.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
python-dotenv==1.1.0
bcrypt==4.3.0
cryptography==45.0.3
redis==6.2.0
sqlalchemy==2.0.41
psycopg2-binary
pandas
openpyxl

qwen-asr
torch>=2.6.0
soundfile

chromadb==1.0.12
langchain-core==0.3.63
langchain-ollama==0.3.3
langchain-community==0.3.24
langchain-chroma==0.2.4
langchain-google-genai==2.1.5
